$profile-padd: 16px;
$frame-padd: 56px;

.profile {
  box-sizing: border-box;
  width: 240px;
  &__header {
    box-sizing: border-box;
    display: flex;
    height: $frame-padd;
    justify-content: space-between;
    border-bottom: 1px solid #DFE3E9;
    padding: 0 $profile-padd;
    &-user {
      display: flex;
      justify-content: center;
      flex-direction: column;
      color: #354052;
      font-family: 'Golos UI';
      font-size: 14px;
      font-weight: 700;
      span {
        font-family: 'Golos UI';
        font-weight: normal;
        color: #7F8FA4;
        font-size: 12px;
      }
    }
  }
  &__timer {
    background-color: #EFF3F6;
    padding: 0 $profile-padd;
    height: $frame-padd;
    display: flex;
    gap: 0 8px;
    align-items: center;
    span { 
      font-family: 'Golos UI';
      font-size: 16px;
      font-weight: 700;
      color: #0085F0;
    }
    &-starttime {
      font-family: 'Golos UI';
      font-size: 18px;
      font-weight: normal;
      color: #516173;

    }
    &-time {
      font-family: 'Golos UI';
      font-size: 16px;
      font-weight: 700;
      color: #516173;
      color: #354052;
    }
    &-btn {
      cursor: pointer;
    }
  }
  &__actions {
    display: flex;
    flex-wrap: wrap;
    padding: 6px 0;
    svg {
      fill: #7F8FA4;
    }
    &-btn {
      display: flex;
      width: 100%;
      gap: 0 7px;
      padding: 10px 16px;
      cursor: pointer;
      transition: ease 0.3s;
      p {
        transition: ease .3s;
        font-family: 'Golos UI';
        font-size: 14px;
        font-weight: 500;
        color: #354052;
      }
      &:hover {
        p, svg {
          color: #1F8EFA;
          fill: #1F8EFA;
        }
        background-color: #ECF6FF;
      }
    }
  }
}
